@model BDA.ViewModel.UserViewModel
@{
    ViewData["Title"] = "EditUser";
}

@section Styles{

    <style>
        .btn-create {
            background-color: #5d5386;
            color: white;
        }

        .btn-apply:hover {
            background-color: white;
            color: black;
        }

        .btn-cancel:hover {
            background-color: red;
            color: white;
        }

        .btn-create:hover {
            background-color: limegreen;
            color: white;
        }

        .btn-lost:hover {
            background-color: #FFC300;
            color: white;
        }

        select.filter {
            height: 33px !important;
        }

        .form-staff {
            margin-bottom: 2rem;
        }
    </style>
}

<div class="content-inner">
    <div class="container-fluid">

        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Add User</h2>
                </div>
            </div>
        </div>
        <div class="row flex-row">
            <div class="col-xl-12 col-md-12">
                <div class="table-responsive">
                    <div class="widget has-shadow">
                        <div class="widget-body">
                            @using (Html.BeginForm("Create", "Users", Model, FormMethod.Post, false, new { @id = "formAddUser", @class = "form-horizontal" }))
                            {
                                <fieldset>
                                    <legend class="form-staff">Login Type</legend>
                                    <div class="form-staff row">

                                        <div class="col-xl-2">
                                            <label class="radio-inline"><input type="radio" checked="checked" name="AuthenticationMethod" value="ActiveDirectory">Active Directory</label>

                                        </div>
                                        <div class="col-xl-2">
                                            <label class="radio-inline"><input type="radio" name="AuthenticationMethod" value="Internal">Internal</label>
                                        </div>
                                    </div>

                                    @*First Testing*@
                                    @*<div class="form-staff row" id="staffForm">
                                            <div class="col-sm-2 form-control-label d-flex align-items-center">Staff No</div>
                                            <div class="col-xl-4">
                                                <div class="col-xl-8">
                                                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", id = "txtStaffNo" })
                                                </div>
                                            </div>
                                            <div id="pnlAD" class="col-xl-4">
                                                <button id="btnSearchAD" type="button" class="btn btn-warning">Fetch AD Info</button>
                                            </div>
                                            <div id="pnlInternal" class="col-xl-4" style="display:none">
                                                <div class="col-sm-2 form-control-label d-flex align-items-center">Password</div>
                                                <div class="col-xl-4">
                                                    <div class="col-xl-8">
                                                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", id = "txtPassword" })
                                                    </div>
                                                </div>

                                                <div class="col-sm-2 form-control-label">Retype-Password</div>
                                                <div class="col-xl-4">
                                                    <div class="col-xl-8">
                                                        @Html.TextBoxFor(x => x.Repassword, new { @class = "form-control", id = "txtRepassword", onInput = "check()" })
                                                    </div>
                                                </div>
                                                <div>
                                                    <span id='message'></span>
                                                </div>
                                            </div>
                                        </div>*@

                                    @*Third Testing*@
                                    <div class="form-staff row" id="staffForm">
                                        <div class="col-sm-12">
                                            <div class="form-staff row">
                                                <div id="pnlStaffNo" class="col-sm-2 form-control-label d-flex align-items-center" style="display:none">
                                                    Staff No<span class="text-danger ml-2">*</span>
                                                </div>
                                                <div class="col-xl-4">
                                                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", id = "txtStaffNo", required = "required",autocomplete="off" })
                                                </div>
                                                <div id="pnlAD" class="col-xl-4">
                                                    <button id="btnSearchAD" type="button" class="btn btn-warning">Fetch AD Info</button>
                                                </div>
                                                <div id="pnlInternal1" class="col-sm-2" style="display:none">Password<span class="text-danger ml-2">*</span></div>
                                                <div id="pnlInternal2" class="col-xl-4" style="display:none">
                                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", id = "txtPassword", required = "required",autocomplete="off" })
                                                </div>
                                            </div>
                                            <div id="pnlInternal3" class="form-staff row" style="display:none">
                                                <div class="col-sm-2 form-control-label d-flex align-items-center"></div>
                                                <div class="col-xl-4">
                                                </div>
                                                <div class="col-sm-2 form-control-label d-flex align-items-center">Re-type Password<span class="text-danger ml-2">*</span></div>
                                                <div class="col-xl-4">
                                                    @Html.PasswordFor(x => x.Repassword, new { @class = "form-control", id = "txtRepassword", onInput = "check()", required = "required",autocomplete="off" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend class="form-staff">Staff Details</legend>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-staff row">
                                                <div class="col-sm-2 form-control-label d-flex align-items-center">Staff Name<span class="text-danger ml-2">*</span></div>
                                                <div class="col-xl-4">
                                                    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", id = "txtStaffName", required = "required",autocomplete="off" })
                                                </div>
                                                <div class="col-sm-2 form-control-label d-flex align-items-center">E-mail<span class="text-danger ml-2">*</span></div>
                                                <div class="col-xl-4">
                                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "txtEmail", type="email", required = "required",autocomplete="off" })
                                                </div>
                                            </div>
                                            <div class="form-staff row">
                                                <div class="col-sm-2 form-control-label d-flex align-items-center">Office Phone No</div>
                                                <div class="col-xl-4">
                                                    @Html.TextBoxFor(x => x.OfficeNo, new { @class = "form-control", id = "txtOfficeNo",autocomplete="off" })
                                                </div>
                                                <div class="col-sm-2 form-control-label d-flex align-items-center">Mobile Phone No<span class="text-danger ml-2">*</span></div>
                                                <div class="col-xl-4">
                                                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", id = "txtPhoneNo", required = "required",autocomplete="off" })
                                                </div>
                                            </div>
                                            <div class="form-staff row">
                                                <div class="col-sm-2 form-control-label d-flex align-items-center">Unit<span class="text-danger ml-2">*</span></div>
                                                <div class="col-xl-4">
                                                    @Html.TextBoxFor(x => x.UnitName, new { @class = "form-control", required = "required",autocomplete="off" })
                                                </div>
                                                <div class="col-sm-2 form-control-label d-flex align-items-center">Division<span class="text-danger ml-2">*</span></div>
                                                <div class="col-xl-4">
                                                    @Html.TextBoxFor(x => x.DivisionName, new { @class = "form-control", required = "required",autocomplete="off" })
                                                </div>
                                            </div>
                                            <div class="form-staff row">
                                                <div class="col-sm-2 form-control-label d-flex align-items-center">Designation<span class="text-danger ml-2">*</span></div>
                                                <div class="col-xl-4">
                                                    @Html.TextBoxFor(x => x.Designation, new { @class = "form-control", required = "required",autocomplete="off" })
                                                </div>
                                                <div class="col-sm-2 form-control-label d-flex align-items-center"></div>
                                                <div class="col-xl-4">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                                <div>
                                    <div id="saveBtn" class="wizard text-center">
                                        <button id="btnSubmit" type="button" class="btn btn-success">Save</button>
                                        @*<a id="btnSave" href="#" data-target="#save-edit-user" class="btn btn-success" data-toggle="modal" data-bind="click: createUser">Save</a>*@
                                    </div>
                                </div>
                            }
                            @Html.Partial("~/Views/Users/_ActionButton.cshtml")
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Container -->
    <!-- Begin Page Footer-->
    <!-- End Page Footer -->
    <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
    <!-- Offcanvas Sidebar -->
    <!-- End Offcanvas Sidebar -->
</div>

@section Scripts{
    <!--  validation script  -->
    <script src="~/js/jquery.validate.js"></script>
    @*added by Hanif 08112019*@
    <script>

    // var check = function () {
    //    if (document.getElementById('txtPassword').value == document.getElementById('txtRepassword').value) {
    //        document.getElementById('message').style.color = 'green';
    //        document.getElementById('message').innerHTML = 'Password matching';
    //    } else {
    //        document.getElementById('message').style.color = 'red';
    //        document.getElementById('message').innerHTML = 'Password not matching';
    //    }
    //}

        function isStrongPwd(password) {

            var count = 0;
            console.log(password);
            var uppercase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            var lowercase = "abcdefghijklmnopqrstuvwxyz";
            var digits = "0123456789";
            var splChars = "!#$^%&*()@@";
            var ucaseFlag = contains(password, uppercase);
            var lcaseFlag = contains(password, lowercase);
            var digitsFlag = contains(password, digits);
            var splCharsFlag = contains(password, splChars);

            if (ucaseFlag) {
                count++;
            }
            if (lcaseFlag) {
                count++;
            }
            if (digitsFlag) {
                count++;
            }
            if (splCharsFlag) {
                count++;
            }

            console.log(count);
            if (count >= 3) {
                return true;
            }
            else {
                return false;
            }

        }

        function contains(password, allowedChars) {

            for (i = 0; i < password.length; i++) {

                var char = password.charAt(i);

                if (allowedChars.indexOf(char) >= 0) { return true; }

            }

            return false;
        }

         function navigateURL(value) {

            var url = '@Url.Action("EditUser", "Users", new {userName = "_value" })';
            var urlWithValue = url.replace('_value', value);
            setTimeout(function () { window.location.href = urlWithValue; }, 500);
        }

        $("#btnSearchAD").on('click', function (e) {
             var userName = document.getElementById("txtStaffNo").value;
             console.log('searchAD');
            $.get("@Url.RouteUrl("DefaultApi", new { controller = "DirectoryUser", id = "" })/?staffNo=" + userName, {
                dataType: 'json'
            })
                .done(function (result) {
                    if (result != null) {
                        ShowNoty("success", "User exist");
                        $("#txtStaffName").val(result.fullName);
                        $("#txtEmail").val(result.email);
                        $("#txtOfficeNo").val(result.officeNo);
                        $("#txtPhoneNo").val(result.phoneNumber);
                    } else {
                        ShowNoty("warning", "User does not exist");
                    }
                })

        });

        $("#btnSubmit").on('click', function (e) {
            if ($("#formAddUser").valid()) {
                var login = $("input[name='AuthenticationMethod']").val();

                if (login == "ActiveDirectory") {

                    console.log('submit');
                    $("#formAddUser").submit();
                }
                else {
                    if ($("#txtPassword").val() != $("#txtRepassword").val()) {

                        ShowNoty("error", "Password not matching");
                    }
                    else if ($("#txtPassword").val().length < 12) {
                        ShowNoty("error", "Password must be atleast 12 characters length!");
                    }
                    else if (!isStrongPwd($("#txtPassword").val())) {
                        ShowNoty("error", "Password must be consist of mix of 3 characters from 3 groups:" +
                            "\nUpper case alphabets: A,B,C,D,E...Z" +
                            "\nLower case alphabets: a,b,c,d,e...z," +
                            "\nNumber: 1,2,3,4...9, " +
                            "\nSpecial characters: !#$%^(...etc!");
                    }
                    else {
                        console.log('submit');
                        $("#formAddUser").submit();
                    }
                }
            }
            else {
                ShowNoty("error", "Please fill all required fields!");
            }
        });

        $(document).ready(function () {

                 $("input[name='AuthenticationMethod']").on("click", function() {
                    var login = $(this).val();
                    if(login == "ActiveDirectory")
                    {
                        $("#pnlAD").show();
                        $("#pnlStaffNo").hide();
                        $("#pnlInternal1").hide();
                        $("#pnlInternal2").hide();
                        $("#pnlInternal3").hide();
                    }
                    else if(login == "Internal")
                    {
                         $("#pnlAD").hide();
                        $("#pnlInternal1").show();
                        $("#pnlInternal2").show();
                        $("#pnlInternal3").show();
                    }
                 });

            $("#formAddUser").submit(function (e) {
                var userName = document.getElementById("txtStaffNo").value;
                e.preventDefault(); // avoid to execute the actual submit of the form.

                ShowNoty("warning", "Saving User");

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {
                        console.log(data);
                        if (data.response.statusCode == 200) {
                            ShowNoty("success", data.message);
                            navigateURL(userName);
                        } else {
                            ShowNoty("error", data.message);
                        }
                        refresh();
                    }
                });
            });

        });

    </script>
}





