@model BDA.ViewModel.CancellationViewModel
@{
    //ViewData["Title"] = "CreateDetails";
    var RefNo = "";
    var ERMS = "";
    var userFullName = ViewBag.Fullname;

    if (Model != null)
    {
        RefNo = Model.RefNo;

    }
}

@section Styles{

    <style>
        .btn-create {
            background-color: #5d5386;
            color: white;
        }

        .btn-apply:hover {
            background-color: white;
            color: black;
        }

        .btn-cancel:hover {
            background-color: red;
            color: white;
        }

        .btn-create:hover {
            background-color: limegreen;
            color: white;
        }

        .btn-lost:hover {
            background-color: #FFC300;
            color: white;
        }

        select.filter {
            height: 33px !important;
        }

        .form-staff {
            margin-bottom: 2rem;
        }
    </style>
}
<div id="pnl_main_form" class="widget-body">
    <div class="padding-left-20 padding-right-20">
        <div class="row flex-row">
            <div class="col-xl-12 col-md-12">
                <div class="table-responsive">
                    <div class="widget has-shadow">
                        <div class="widget-body">
                            <div class="padding-left-10 padding-right-20">
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Ref No.</div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.RefNo, new { @class = "form-control", @readonly = "readonly" })
                                        @*<input type="text" id="txtRefNo" value="<<Auto Generated>>" class="form-control" disabled>*@
                                    </div>
                                </div>
                                <br />
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Reason for Cancelling<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        @*<input type="number" id="numClaimDuration" class="form-control">*@
                                        @*<select name="ddlCancelReason" id="ddlCancelReason" class="custom-select form-control">
                                                <option value="1">Project On-going, Bank Draft has an error</option>
                                                <option value="2">Project On-going, Bank Draft expired</option>
                                                <option value="3">Project Completed, Bank Draft has not been used or expired</option>
                                                <option value="4">Others (for Wang Hangus)</option>
                                        </select>*@
                                        @Html.DropDownListFor(x => x.ReasonCancel, Enumerable.Empty<SelectListItem>(), new { @class = "form-control select2", id = "ddlCancelReason" })
                                    </div>
                                </div>
                                <div id="reasonOthers" class="form-group row" style="display:none">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center" style="display:none">Others:<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.OthersRemark, new { @class = "form-control"})
                                        @*<input name="txtOtherReason" id="txtOtherReason" type="text" class="form-control" placeholder="State your reason">*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">
                                        Proj No/ Assignment/ BD No<span class="text-danger ml-2">*</span>
                                        @*<p class="ion-information-circled" data-toggle="tooltip" data-placement="top" data-original-title="Project No."></p>*@
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="input-group">
                                            <input name="txtProjNo" id="txtProjNo" type="text" class="form-control" placeholder="Search Proj No.">
                                            <span class="input-group-btn">
                                                <input type="button" id="btnSearch" class="btn btn-outline-primary mr-1 mb-2" value="Search">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">BD No.<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.BDNo, new { @class = "form-control"})
                                        @*<input name="BDNo" id="txtBDNo" type="text" class="form-control">*@
                                        @*<div class="input-group">
            <input name="txtBDDetails" id="txtBDDetails" type="text" class="form-control" placeholder="Search BD No.">
            <span class="input-group-btn">
                <input type="button" id="btnLoadBDDetails" class="btn btn-outline-primary mr-1 mb-2" value="Search">
            </span>
        </div>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">BD Requestor's Name</div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.BDRequesterName, new { @class = "form-control"})
                                        @*<input type="text" id="txtReqName" class="form-control">*@
                                    </div>
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">ERMS Doc No.</div>
                                    <div class="col-xl-4">
                                        <input type="text" id="txtERMSDocNo" value="<<Auto Populated>>" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Company Code<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        <input type="text" id="txtCompCode" value="<<Auto Populated>>" class="form-control" disabled>
                                    </div>
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Business Area<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        <input type="text" id="txtBusinessArea" value="<<Auto Populated>>" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Name on BD<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        <input type="text" id="txtPBTName" value="<<Auto Populated>>" class="form-control" disabled>
                                    </div>
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">BD Amount<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.BDAmount, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="~/assets/js/components/wizard/form-wizard.min.js"></script>
    <script src="~/assets/vendors/js/bootstrap-select/bootstrap-select.min.js"></script>

    <script src="assets/vendors/js/base/jquery.min.js"></script>
    <script src="assets/vendors/js/base/core.min.js"></script>
    <!-- End Vendor Js -->
    <!-- Begin Page Vendor Js -->
    <script src="assets/vendors/js/nicescroll/nicescroll.min.js"></script>
    <script src="assets/vendors/js/app/app.min.js"></script>

    <script>

        var check = function () {
            if (document.getElementById('txtPassword').value ==
                document.getElementById('txtRepassword').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Password matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Password not matching';
            }
        }
        $("#btnSubmit").on('click', function (e) {
            console.log('submit');
            $("#formAddUser").submit();
        });

    </script>
}






