@model BDA.ViewModel.CancellationViewModel
@{

    var signedL = "";
    var umaPinForm = "";
    var scannedLetter = "";
    var status = "";

    if (Model != null)
    {
        signedL = Model.SignedLetterVM.FileName;
        umaPinForm = Model.UMAPinFormVM.FileName;
        scannedLetter = Model.ScannedLetterVM.FileName;
        status = Model.Status;
    }
}

@section Styles{

    <style>
        .btn-create {
            background-color: #5d5386;
            color: white;
        }

        .btn-apply:hover {
            background-color: white;
            color: black;
        }

        .btn-cancel:hover {
            background-color: red;
            color: white;
        }

        .btn-create:hover {
            background-color: limegreen;
            color: white;
        }

        .btn-lost:hover {
            background-color: #FFC300;
            color: white;
        }

        select.filter {
            height: 33px !important;
        }

        .form-staff {
            margin-bottom: 2rem;
        }
    </style>
}
    <div class="col-xl-4">
        @Html.DropDownListFor(x => x.BankProcessType, Enumerable.Empty<SelectListItem>(), new { @class = "form-control show-menu-arrow select2", id = "ddlBankProcessType" })
        @*<select id="ddlBDCancelYear" name="ddlVendorType" class="selectpicker show-menu-arrow form-control" tabindex="-98"> 
            <option value="1">BD Cancellation - Maybank</option>
            <option value="2">BD Cancellation - UMA</option>
        </select>*@
    </div>
<div id="pnl_less_oneyear" class="widget-body">
    <div class="padding-left-20 padding-right-20">
        <div class="row flex-row">
            <div class="col-xl-12 col-md-12">
                <div class="table-responsive">
                    <div class="widget has-shadow">
                        <div class="widget-body">
                            <div id="pnl_main_form" class="widget-body">
                                <div class="padding-left-20 padding-right-20">
                                    @*<div class="form-group row">
                                            <div class="col-sm-2 form-control-label d-flex align-items-center">Instruction Letter</div>
                                            <div class="col-sm-10">
                                                <button id="btnNewInsLetter" href="#" class="btn btn-success">Create Letter</button>
                                            </div>
                                        </div>*@
                                    <div class="form-group row">
                                        <div class="col-sm-2 form-control-label d-flex">Ins. Letter Ref No<span class="text-danger ml-2">*</span></div>
                                        <div class="col-xl-5">
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.InstructionLetterRefNo, new { @class = "form-control", placeholder = "Insert Letter Reference No", @readonly = "readonly", required = "required" })
                                                @*<input name="txtLetterRefNo" id="txtLetterRefNo" type="text" value="" class="form-control" onchange="funcLetterLink()" placeholder="Search Letter Reference No">*@
                                                <span class="input-group-btn before-process">
                                                    <input id="btnNewLetter" type="button" class="btn btn-outline-primary btn-sm mr-1 mb-2 processed" title="Create" value="Create New Letter">
                                                    <input id="btnViewLetter" type="button" class="btn btn-outline-primary btn-sm mr-1 mb-2 processed" style="display:none" title="View" value="View">
                                                    <input id="btnEditLetter" type="button" class="btn btn-outline-primary btn-sm mr-1 mb-2 processed" style="display:none" value="Edit" title="Edit">
                                                </span>
                                            </div>

                                        </div>
                                        <div class="col-sm-2 form-control-label d-flex">Signed Letter<span class="text-danger ml-2">*</span></div>
                                        <div class="col-xl-3">
                                            @if (signedL == "" || signedL == null)
                                            {
                                                <div class="file-upload">
                                                    @Html.TextBoxFor(m => m.SignedLetterVM.File, new { type = "file", name = "SignedLetter" })
                                                </div>
                                            }
                                            else
                                            {
                                                var file = signedL;
                                                <div id="noFile-SignedLetter" class="file-upload" style="display:none">
                                                    @Html.TextBoxFor(m => m.SignedLetterVM.File, new { type = "file", name = "SignedLetter" })
                                                </div>
                                                <div id="hasFile-SignedLetter">
                                                    <input type="hidden" value="@file" id="hdnSignedLetter" />
                                                    <a onclick="window.open('../../../documents/@file','newwindow','width=900,height=750');"><i class="ti-printer"></i></a>
                                                    @if (status == "Accepted" && User.IsInRole("TGBS Reconciliation"))
                                                    {
                                                        <a onclick="RemoveAttachment('@Model.SignedLetterVM.Id','SignedLetter');"><i class="la la-trash delete before-process" data-toggle="tooltip" data-placement="top" data-original-title="Remove attachment"></i></a>
                                                    }

                                                </div>
                                            }
                                            @*<div id="uploadSignedLetter" class="file-upload before-submit">
            <input id="" name="signedletter" type="file">
        </div>
        <div id="printSignedLetter">
            <a id="SignedLetter" href="#" class="btn btn-lost" title="View Ins letter"><i class="ti ti-printer"></i></a>
        </div>*@
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pnl_more_oneyear" class="widget-body" style="display:none">
    <div class="table-responsive padding-left-20 padding-right-20">
        <table id="tblListVerifier" class="table table-hover mb-0 display table-bordered">
            <thead>
                <tr>
                    <th style="width:8px">No</th>
                    <th>Name</th>
                    <th style="width:150px">Action</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <p>UMA Pin Form 1/2015 (Scanned)<span class="text-danger ml-2">*</span></p>
                    </td>
                    <td class="td-actions">
                        <div class="file-upload">
                            @*<input id="" name="umaPinForm" type="file">*@
                            @if (umaPinForm == "" || umaPinForm == null)
                            {
                                <div class="file-upload">
                                    @Html.TextBoxFor(m => m.UMAPinFormVM.File, new { type = "file", name = "UMAPinForm" })
                                </div>
                            }
                            else
                            {
                                var file = umaPinForm;
                                <div id="noFile-UMAPinForm" class="file-upload" style="display:none">
                                    @Html.TextBoxFor(m => m.UMAPinFormVM.File, new { type = "file", name = "UMAPinForm" })
                                </div>
                                <div id="hasFile-UMAPinForm">
                                    <input type="hidden" value="@file" id="hdnUMAPinForm" />
                                    <a onclick="window.open('../../../documents/@file','newwindow','width=900,height=750');"><i class="ti-printer"></i>@Model.UMAPinFormVM.FileName</a>
                                    @if (status == "Accepted" && User.IsInRole("TGBS Reconciliation"))
                                    {
                                        <a onclick="RemoveAttachment('@Model.UMAPinFormVM.Id','UMAPinForm');"><i class="la la-trash delete before-process" data-toggle="tooltip" data-placement="top" data-original-title="Remove attachment"></i></a>
                                    }
                                </div>
                            }
                        </div>
                     </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <p>Instruction Letter (Scanned)<span class="text-danger ml-2">*</span></p>
                    </td>
                    <td class="td-actions">
                        <div class="file-upload">
                            @*<input id="" name="insLetter" type="file">*@
                            @if (scannedLetter == "" || scannedLetter == null)
                            {
                                <div class="file-upload">
                                    @Html.TextBoxFor(m => m.ScannedLetterVM.File, new { type = "file", name = "ScannedLetter" })
                                </div>
                            }
                            else
                            {
                                var file = scannedLetter;
                                <div id="noFile-ScannedLetter" class="file-upload" style="display:none">
                                    @Html.TextBoxFor(m => m.ScannedLetterVM.File, new { type = "file", name = "ScannedLetter" })
                                </div>
                                <div id="hasFile-ScannedLetter">
                                    <input type="hidden" value="@file" id="hdnScannedLetter" />
                                    <a onclick="window.open('../../../documents/@file','newwindow','width=900,height=750');"><i class="ti-printer"></i>@Model.ScannedLetterVM.FileName</a>
                                    @if (status == "Accepted" && User.IsInRole("TGBS Reconciliation"))
                                    {
                                        <a onclick="RemoveAttachment('@Model.ScannedLetterVM.Id','UMAPinForm');"><i class="la la-trash delete before-process" data-toggle="tooltip" data-placement="top" data-original-title="Remove attachment"></i></a>
                                    }
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section Scripts{

    <script src="~/assets/js/components/wizard/form-wizard.min.js"></script>
    <script src="~/assets/vendors/js/bootstrap-select/bootstrap-select.min.js"></script>

    <script src="assets/vendors/js/base/jquery.min.js"></script>
    <script src="assets/vendors/js/base/core.min.js"></script>
    <!-- End Vendor Js -->
    <!-- Begin Page Vendor Js -->
    <script src="assets/vendors/js/nicescroll/nicescroll.min.js"></script>
    <script src="assets/vendors/js/app/app.min.js"></script>

    <script>

        var check = function () {
            if (document.getElementById('txtPassword').value ==
                document.getElementById('txtRepassword').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Password matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Password not matching';
            }
        }
        $("#btnSubmit").on('click', function (e) {
            console.log('submit');
            $("#formAddUser").submit();
        });

    </script>
}






