@model BDA.ViewModel.DivisionViewModel
@{
    ViewData["Title"] = "ManageDivision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <style>
        .btn-create {
            background-color: #5d5386;
            color: white;
        }

        .btn-apply:hover {
            background-color: white;
            color: black;
        }

        .btn-cancel:hover {
            background-color: red;
            color: white;
        }

        .btn-create:hover {
            background-color: limegreen;
            color: white;
        }

        .btn-lost:hover {
            background-color: #FFC300;
            color: white;
        }

        select.filter {
            height: 33px !important;
        }

        input[type='checkbox'] {
            width: 20px;
            height: 20px;
        }
    </style>
}
<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Divisions</h2>
                    <div>
                        <!--<div class="page-header-tools">
                            <a class="btn btn-gradient-01" href="#">Add Widget</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Begin Row -->
        <div class="row flex-row">
            <div class="col-xl-3 col-md-6 col-sm-6">
                <a href="#" data-target="#add-division-modal" data-toggle="modal" class="btn btn-lg btn-create">
                    Add New Division
                </a>
            </div>
        </div>
        <!-- End Row -->
        <!-- Begin Row -->
        <div class="row flex-row">
            <br />
        </div>
        <div class="row flex-row">
            <div class="col-xl-12 col-md-12">
                <div class="table-responsive">
                    <div class="widget has-shadow">
                        @*<div class="widget-header bordered no-actions d-flex align-items-center">
                                <h4>History</h4>
                            </div>*@
                        <div class="widget-body">
                            <div class="table-responsive">
                                <table id="tblDashboard" class="table table-hover mb-0 display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Company Code</th>
                                            <th>Name</th>
                                            <th>Division Type</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr class="filterrow">
                                            <th class="input-filter"><input id="search-code" type="text" class="form-control tchatchaca" style="height:40px !important;" placeholder="Search.."></th>
                                            <th class="input-filter"><input id="search-name" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>
                                            <th class="select-filter">
                                                <select id="search-type" class="form-control filter" style="height:40px !important;" placeholder="Status">
                                                    <option value="">All</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                            </th>
                                            @*<th class="input-filter"><input id="search-type" type="text" style="height:40px !important;" class="form-control tchatchaca" placeholder="Search.."></th>*@
                                            <th class="select-filter">
                                                <select id="search-status" class="form-control filter" style="height:40px !important;" placeholder="Status">
                                                    <option value="">All</option>
                                                    <option value="true">Active</option>
                                                    <option value="false">Inactive</option>
                                                </select>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container -->
    <!-- Begin Page Footer-->
    <!-- End Page Footer -->
    <a href="#" class="go-top"><i class="la la-arrow-up"></i></a>
    <!-- Offcanvas Sidebar -->
    <!-- End Offcanvas Sidebar -->
</div>

<div id="add-division-modal" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:bold">Add Division</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">close</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "Division", Model, FormMethod.Post, false, new { @id = "formAddDivision", @class = "form-horizontal" }))
            {
                @*@Html.AntiForgeryToken()*@
                <div class="modal-body">
                    <div class="padding-left-20 padding-right-20">
                        <div class="form-group row">
                            <div class="col-sm-4 form-control-label d-flex align-items-center">Code</div>
                            <div class="col-xl-8">
                                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 form-control-label d-flex align-items-center">Name</div>
                            <div class="col-xl-8">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 form-control-label d-flex align-items-center">Division Type</div>
                            <div class="col-xl-8">
                                <select name="LOAType" id="LOAType" class="form-control" required = "required">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                @*@Html.TextBoxFor(x => x.LOAType, new { @class = "form-control" })*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSubmit" type="button" class="btn btn-success">Add</button> @*data-dismiss="modal"*@
                </div>
            }
        </div>
    </div>
</div>

<div id="edit-division-modal" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight:bold">Edit Division</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">close</span>
                </button>
            </div>
            @using (Html.BeginForm("Update", "Division", Model, FormMethod.Post, false, new { @id = "formEditDivision", @class = "form-horizontal" }))
            {
                @*@Html.AntiForgeryToken()*@
                <div class="modal-body">
                    <div class="padding-left-20 padding-right-20">
                        <div class="form-group row">
                            <div class="col-sm-4 form-control-label d-flex align-items-center">Code</div>
                            <div class="col-xl-8">
                                @Html.HiddenFor(x => x.Id, new { @id = "idDivision", @class = "form-control" })
                                @Html.TextBoxFor(x => x.Code, new { @id = "codeDivision", @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 form-control-label d-flex align-items-center">Name</div>
                            <div class="col-xl-8">
                                @Html.TextBoxFor(x => x.Name, new { @id = "nameDivision", @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 form-control-label d-flex align-items-center">Division Type</div>
                            <div class="col-xl-8">
                                <select name="LOAType" id="LOAType" class="form-control" required = "required">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                @*@Html.TextBoxFor(x => x.LOAType, new { @id = "divisionType", @class = "form-control" })*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4 form-control-label d-flex align-items-center">Status</div>
                            <div class="col-xl-8">
                                @Html.CheckBoxFor(x => x.IsActive, new { @id = "statusDivision", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnEdit" type="button" class="btn btn-success">Update</button> @*data-dismiss="modal"*@
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{


    <script src="~/assets/vendors/js/datatables/datatables.min.js"></script>
    <script src="~/assets/vendors/js/datatables/dataTables.select.min.js"></script>
    <script src="~/assets/vendors/js/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendors/js/datatables/buttons.flash.js"></script>
    <script src="~/assets/vendors/js/datatables/buttons.print.min.js"></script>
    <script src="~/assets/vendors/js/datatables/buttons.html5.js"></script>

    <script src="~/assets/vendors/js/tablefilter/jquery.tablefilter.js"></script>
    <script src="~/assets/vendors/js/tablefilter/jquery.tabledatafilter.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>

    <script>

        var code;
        var name;


        function refresh() {
            setTimeout(function () { location.reload(); }, 500);
        }

        $("#btnSubmit").on('click', function (e) {
            console.log('submit');
            $("#formAddDivision").submit();
        });

        $("#btnEdit").on('click', function (e) {
            console.log('edit');
            $("#formEditDivision").submit();
        });

        $("#btnTest").on('click', function (e) {
            //console.log('edit');

            $("#edit-division-modal").modal();
        });   $("#btnTest").on('click', function (e) {
            //console.log('edit');

            $("#edit-division-modal").modal();
        });


        $(document).ready(function () {

            $('#edit-division-modal').on('shown.bs.modal', function (e) {

                var divId = $(e.relatedTarget).data('id');
                var divCode = $(e.relatedTarget).data('code');
                var divName = $(e.relatedTarget).data('name');
                var divType = $(e.relatedTarget).data('type');
                var divStatus = $(e.relatedTarget).data('status');

                $(".modal-body #codeDivision").val(divCode);
                $(".modal-body #nameDivision").val(divName);
                $(".modal-body #idDivision").val(divId);
                $(".modal-body #LOAType").val(divType);
                $(".modal-body #statusDivision").prop('checked', divStatus);
            });
              var table =   $('#tblDashboard').DataTable({
                    dom: "Bfrtip",
                    "processing": true,
                    //serverSide: true,
                    "ajax": {
                        url:  "@Url.Action("GetAllDivisions", "Division")",
                        type: "GET",
                        data: function (d) {
                            d.code = $('#search-code').val();
                            d.name = $('#search-name').val();
                            d.loaType = $('#search-type option:selected').val();
                            d.status = $('#search-status option:selected').val();
                        },
                        dataFilter: function (result) {
                            var jData = JSON.parse(result);
                            var dtData = JSON.stringify({ "data": jData });
                            return dtData;
                        }
                     },
                    order: [[1, 'asc']],
                    columns: [
                        { data: "code" },
                        { data: "name" },
                        { data: "loaType" },
                        {
                            data: "isActive",
                            "render": function (data, type, row) {
                                if (data == true) return "Active";
                                else return "InActive";
                            }
                        },
                        {
                            data: "id",
                            "render": function (data, type, row) {
                                var id = data;
                                var href = "";
                                if (type == "display") {
                                    data = '<a id="test" href="' + href + '" style="border-radius: 0%;background-color: #f4f4f4;border-color: #ddd;" class="btn btn-lost btn-block mb-2" data-target="#edit-division-modal" data-toggle="modal" data-id="' + id + '" data-code="' + row.code + '"data-name="' + row.name + '"data-type="' + row.loaType  +'"data-status="' + row.isActive + '">Edit</a>';

                                }
                                return data;
                            }
                        },
                    ],
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bInfo": true,
                    "bAutoWidth": false,
                    orderCellsTop: true,
                    fixedHeader: true,
                    "lengthChange": false,
            });

            $('.table thead filterCol').appendTo('table thead');

            $.each($('.input-filter', table.table().header()), function () {
                var column = table.column($(this).index());

                $('input', this).on('keyup change', function () {
                    table.ajax.reload();
                });
            });

            $.each($('.select-filter', table.table().header()), function () {
                var column = table.column($(this).index());

                $('select', this).on('change', function () {
                    table.ajax.reload();
                });
            });

        });
        $("#formAddDivision").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            if ($("#formAddDivision").valid()) {

                ShowNoty("warning", "Saving Division");

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {
                        console.log(data);
                        if (data.response.statusCode == 200) {
                            ShowNoty("success", data.message);
                        } else {
                            ShowNoty("error", data.message);
                        }
                        refresh();
                    }
                });
            }
            else {
                ShowNoty("error", "Please fill all required fields!");
            }
           
        });

        $("#formEditDivision").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            if ($("#formEditDivision").valid()) {
          
            ShowNoty("warning", "Updating Division");

            var form = $(this);
            var url = form.attr('action');
            var fdata = new FormData();

            //// You can update the jquery selector to use a css class if you want
            $("input[type='text'], input[type='hidden']").each(function (x, y) {
                fdata.append($(y).attr("name"), $(y).val());
            });

            for (var value of fdata.values()) {
                console.log(value);
            }

            for (var key of fdata.keys()) {
                console.log(key);
            }

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data);
                    if (data.response.statusCode == 200) {
                        ShowNoty("success", data.message);
                    } else {
                        ShowNoty("error", data.message);
                    }
                    refresh();
                }
            });
            }
        });

    </script>
}



