@model BDA.ViewModel.InstructionLetterViewModel
@{
    Layout = null;
    int no = 1;
    decimal total = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Instruction Letter</title>
</head>
<body style="font-family:Arial, Helvetica, sans-serif; font-size:12pt">

    <div class="content" style='page-break-after: auto;'>
        <p><br /></p>
        <p><br /></p>
        <p><br /></p>
        <p style="float:left">Rujukan Kami: TNB/KEW (UP) B 14/8/Deraf</p>
        <p style="float:right">@Convert.ToDateTime(Model.LetterDate).ToString("dd MMMM yyyy")</p>
        <p><br /></p>
        <p>
            <br />@Model.AddressLine1,
            <br />@Model.AddressLine2,
            <br />@Model.AddressLine3,
            <br />@Model.State
        </p>
        <p>
            <b>
                <u>
                    U/Perhatian : @Model.BankPIC
                </u>
            </b>
        </p>
        <p>
            Tuan/Puan,
        </p>
        <p>
            <b>
                <u>
                    PEMBATALAN DERAF BANK PADA @Model.ValueDate (@Model.ValueDateDay)
                </u>
            </b>
        </p>
        <p>
            Perkara di atas dirujuk.
        </p>
        <p>
            Sila ambil tindakan untuk membatal dan menghentikan pembayaran deraf bank yang disertakan bersama ini. Butir- butir deraf bank adalah seperti berikut:
        </p>
        <table style="font-weight:bold; border:0px; width:100%;" cellpadding="7px">
            <thead>
                <tr>
                    <th width="5%">&nbsp;</th>
                    <th><u>Nama Penerima</u></th>
                    <th><u>No. Deraf</u></th>
                    <th width="15%" style="text-align:center"><u>Tempat</u></th>
                    <th width="20%" style="text-align:center"><u>Jumlah</u></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var wc in Model.Penerimas)
                {
                    <tr>
                        <td>@no.</td>
                        <td>@wc.NamaPenerima</td>
                        <td style="text-align:center">@wc.BankDraftNo</td>
                        <td style="text-align:center">@wc.Tempat</td>
                        <td style="text-align:right">RM @Convert.ToDecimal(wc.Jumlah).ToString("#,##0.00")</td>
                    </tr>
                    total = total + wc.Jumlah ?? 0;
                    no++;
                }
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="text-align:center">JUMLAH</td>
                    <td style="text-align:right; border: 1px solid black;border-right:0px;border-left:0px;">RM @Convert.ToDecimal(total).ToString("#,##0.00")</td>
                </tr>
            </tbody>
        </table>
        <p>

        </p>
        <p>
            Sila kreditkan jumlah deraf bank tersebut ke Akaun TNB seperti berikut :
            @*<ul>
                <li>
                    <b>@Model.BankAccount</b> bagi jumlah diatas
                </li>
                <li>
                    <b>@Model.ChargedBankAccount</b> untuk caj bank.
                </li>
            </ul>*@
            <table>
                <tr>
                    <td><b>No Akaun :</b></td>
                    <td><b>@Model.BankAccount bagi jumlah di atas</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>@Model.ChargedBankAccount untuk caj bank</b></td>
                </tr>
                <tr>
                    <td><b>Bank Ref :</b></td>
                    <td><b>@Model.Remarks untuk caj bank</b></td>
                </tr>
            </table>
        </p>
        <p>
            <b>
                @*Ref: @Model.Remarks.ToUpper()*@
            </b>
        </p>
        <p>
            Sekian, terima kasih.
        </p>
        <p>
            <center>
                <b>
                    <i>
                        "BETTER. BRIGHTER."
                        @*<br />"TNB MENGAMALKAN DASAR TIADA HADIAH"*@
                    </i>
                </b>
            </center>
        </p>
        <br />
        <br />
        <p>
            Yang benar,
        </p>
        <p>
            <br />
            <br />
            <br />
            <table style="border:0px; width:100%">
                <tr>
                    <td style="border-top:1px solid" width="25%">Penandatangan Yang Diberikuasa</td>
                    <td width="25%"></td>
                    @*<td width="25%"></td>*@
                    <td style="border-top:1px solid" width="25%">Penandatangan Yang Diberikuasa</td>
                </tr>
            </table>
        </p>
        <div style="float:right">
            <span style="border:1px solid rgba(0,0,0,0.5); padding:5px">
                FSTL-750-03-QR02
            </span>
        </div>
    </div>
</body>
</html>
